In [5]:
import pandas as pd
weather_data={
    "day":['1/1/2025', '1/2/2025', '1/3/2025', '1/4/2025', '1/5/2025'],
    "temperature":[32,35,28,24,31],
    "windspeed":[6,7,2,4,3],
    "event":['rain', 'sunny', 'snow', 'snow', 'rain']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow
4  1/5/2025           31          3   rain

In [6]:
df.shape

(5, 4)

In [7]:
df.head

<bound method NDFrame.head of         day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow
4  1/5/2025           31          3   rain>

In [8]:
 
df.head(2)

        day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny

In [10]:
df.tail(3)

        day  temperature  windspeed event
2  1/3/2025           28          2  snow
3  1/4/2025           24          4  snow
4  1/5/2025           31          3  rain

In [11]:
df[1:4]

        day  temperature  windspeed  event
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow

In [12]:
df[1:4+1]

        day  temperature  windspeed  event
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow
4  1/5/2025           31          3   rain

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.day

0    1/1/2025
1    1/2/2025
2    1/3/2025
3    1/4/2025
4    1/5/2025
Name: day, dtype: object

In [15]:
df[['event','day']]

   event       day
0   rain  1/1/2025
1  sunny  1/2/2025
2   snow  1/3/2025
3   snow  1/4/2025
4   rain  1/5/2025

In [18]:
df['temperature'].max()

np.int64(35)

In [19]:
df['windspeed'].max()

np.int64(7)

In [20]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny

In [21]:
df['temperature'].max()

np.int64(35)

In [22]:
df[df.temperature==df['temperature'].max()]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2626913367.py, line 1)

In [24]:
df[df.temperature== df.temperature.max()]  #to print a row

        day  temperature  windspeed  event
1  1/2/2025           35          7  sunny

In [9]:
df=pd.DataFrame(weather_data)

In [10]:
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow
4  1/5/2025           31          3   rain

In [18]:
df['day'][df.temperature>32]

1    1/2/2025
Name: day, dtype: object

In [16]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2025           35

In [17]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2025           35

In [19]:
df.set_index('day') # Use to set day or any other column as as an index     It will not change the origenal table

          temperature  windspeed  event
day
1/1/2025           32          6   rain
1/2/2025           35          7  sunny
1/3/2025           28          2   snow
1/4/2025           24          4   snow
1/5/2025           31          3   rain

In [21]:
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow
4  1/5/2025           31          3   rain

In [22]:
df.set_index('day', inplace=True)

In [23]:
df

          temperature  windspeed  event
day
1/1/2025           32          6   rain
1/2/2025           35          7  sunny
1/3/2025           28          2   snow
1/4/2025           24          4   snow
1/5/2025           31          3   rain

In [24]:
df.loc['1/2/2025']

temperature       35
windspeed          7
event          sunny
Name: 1/2/2025, dtype: object

In [25]:
df.reset_index(inplace=True)

In [26]:
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow
4  1/5/2025           31          3   rain

In [27]:
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   rain
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow
3  1/4/2025           24          4   snow
4  1/5/2025           31          3   rain

In [30]:
weather=[                                 #making table using tuples
    ('1/1/2025',32,6,'Rain'),
    ('1/2/2025',35,7,'sunny'),
    ('1/3/2025',28,2,'snow')
]
df=pd.DataFrame(weather,columns=["day","temperature","windspeed","event"])
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  sunny
2  1/3/2025           28          2   snow

In [33]:
weather_format=[                            #making table using list
    {'day':'1/1/2025', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day':'1/2/2025', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day':'1/3/2025', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
]
df=pd.DataFrame(weather_format)
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           28          2   Snow

In [34]:
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           28          2   Snow