In [17]:
import pandas as pd          # use to fill up the undefine or n.a. values in excel file as NaN
df=pd.read_csv("data.csv", na_values={
    "eps":["not available","n.a."],
    "revenue":["not available","n.a.",-1],
    "people":["not available","n.a."],
    "price":["not available","n.a."],
})
df

  tickers    eps  revenue   price         people
0  google  27.82     87.0   845.0      larrypage
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3     RIL    NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [27]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [31]:
df.to_csv("new.csv", )